body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: white;
}

.section_title {
  margin: 15px 0 5px 0;
}

.selected_item {
  background: #e0e0ff;
}

.unselected_item {
}

.disabled_item {
  color: #a0a0a0;
}

div.options {
  margin: 10px 0 10px 0;
  font-size: 70%;
  color: #505050;
}